body {
    background-image: url(https://media.istockphoto.com/id/880710798/vector/seamless-vector-bakery-pastry-pattern.jpg?s=612x612&w=0&k=20&c=e5TN-lIQoRhqrdIoJhUs_VfhzcmDxEY869s6s1SRYF8=);
}

h1 {
    text-align: center;
    font-size: 100px;
    font-family: "Papyrus", "Helvetica","Lucida Handwriting", serif, sans-serif;
    color: brown;
}
ul {
    font-size: 50px;
    font-family: serif, sans-serif;
    color: rgb(107, 80, 41);
   
}
a {
    color: green;
    font-weight: bold;
}
/*CSS for thumbprint-cookies.html below*/
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 50%;
}
.p {
    font-size: 25px;
    color: rgb(71, 2, 2);
    background-color: antiquewhite;
   }
.h2 {
    font-size: 52px;
}
.h3 {
    font-size: 35px;
}
.list {
    font-size: 25px;
    color: rgb(71, 2, 2);
    background-color: antiquewhite;
}